@model IEnumerable<ClientesNetCore.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}
  ViewBag.Title = "Clientes";
}
<center>
    <h2>Lista Clientes</h2>
</center>
<p>
    <br />
    <b>
        @Html.ActionLink("Crear cliente", "CrearCliente")
    </b>
</p>

<table class="table">
    <tr>
        <th>ID Cliente</th>
        <th>Identificación</th>
        <th>Primer Nombre</th>
        <th>Primer Apellido</th>
        <th>Edad</th>
        <th>Fecha de creación</th>
        <th>Fecha modificación</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(m => item.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(m => item.PrimerNombre)
            </td>
            <td>
                @Html.DisplayFor(m => item.PrimerApellido)
            </td>
            <td>
                @Html.DisplayFor(m => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(m => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(m => item.FechaModificacion)
            </td>
            <td>
                @*"Controlador"*@
                <b>
                    @Html.ActionLink("Seleccionar", "DetalleCliente", new { IdCliente = item.IdCliente })
                </b>
            </td>
            <td>
                <b>
                    @Html.ActionLink("Modificar", "ModificarClientes", new { IdCliente = item.IdCliente })
                </b>
            </td>
            <td>
                <b>
                    @Html.ActionLink("Eliminar", "EliminarCliente", new { IdCliente = item.IdCliente })
                </b>
            </td>
        </tr>







    }

</table>

